<% content_for :title do%>
  <%= t('web.title.main') %>
<%end%>

<%content_for :javascript do%>
  $("#contacto_li").addClass("selected");
  $("#contacto_li a").removeClass("clear_text");
  $('input[placeholder],textarea[placeholder]').placeholder();
  
  check_if_accepted_and_submit = function(){
  	if(!$("#contact_accepted").is(':checked')){
  	  alert("<%=t('contact.alert.conditions')%>");  	 
  	}
  	else if( $("#contact_email").val().length == 0 ){
  	  alert("<%=t('contact.alert.email_blank')%>");
  	}
  	else {
  	   $("#new_contact").submit();
  	}
  }
<%end%>


	<article>
				
		<%= render "shared/error_messages", :target => @contact %>  
		
		<div id="image_left">
			<%=image_tag('envelope.jpg', :id=>"envelope_image")%>
		</div>
		
		<div id="form_contact_right">
			<%= form_for @contact do |f| %>			    
				<div class="form_block">
					<%= f.text_field :subject, :class=>"content_textfield", :placeholder => t('contact.subject') %>
				</div>
				<div class="form_block">
					<%= f.text_area :content, :class=>"content_textarea", :placeholder => t('contact.content') %>
				</div>
				<div class="form_block">
					<%= f.email_field :email, :class=>"content_email", :placeholder => t('email.one') %>
				</div>
				<div class="form_block">
					<%= f.check_box :accepted, {}, true,false %> <span><%= t('accept_conditions_html', :url=>"/privacy_policy") %></span>
				</div>
				<input type="submit" value="<%=t('accept')%>" onclick="check_if_accepted_and_submit();return false;" />
			<%end%>
			<br style="clear:both"/>
		</div>		
	</article>



