<% content_for :title do%>
  <%= t('web.title.main') %>
<%end%>

<%content_for :javascript do%>
  $("#contacto_li").addClass("selected");
  
  $('input[placeholder],textarea[placeholder]').placeholder();
  
  check_if_accepted_and_submit = function(){
  	if($("#contact_accepted").is(':checked')){
  	  $("#new_contact").submit()
  	}
  	else {
  	  alert("<%=t('contact.alert')%>");
  	}
  }
<%end%>


	<article>		
		<div id="image_left">
			<%=image_tag('envelope.jpg', :id=>"envelope_image")%>
		</div>
		
		<div id="form_contact_right">
			<%= form_for @contact do |f| %>
				<div class="form_block">
					<%= f.text_field :subject, :class=>"content_textfield", :placeholder => t('contact.subject') %>
				</div>
				<div class="form_block">
					<%= f.text_area :content, :class=>"content_textarea", :placeholder => t('contact.content') %>
				</div>
				<div class="form_block">
					<%= f.email_field :email, :class=>"content_email", :placeholder => t('email.one') %>
				</div>
				<div class="form_block">
					<%= f.check_box :accepted, {}, true,false %> <span class="medium_size_text"><%= t('accept_conditions_html', :url=>"/conditions") %></span>
				</div>
				<input type="submit" value="<%=t('accept')%>" onclick="check_if_accepted_and_submit();return false;" />
			<%end%>
			<br style="clear:both"/>
		</div>		
	</article>



