<div id="headerFront">
	<div id="banner" class="banner_top">
		<div id="logo_gea">
			<%= link_to(image_tag('logo_gea.gif', :alt => t('logo.alt'), :id=>"header_logo"), '/'); %>
		</div>
	</div>
	<div class="div_login">

		<span>
			<label for="login">
				<%= t('email.one') %>
			</label>
		</span>
		<%= text_field_tag 'login', params[:login], :class=>"input_username" %>

		<span>
			<label for="password">
				<%= t('password.one') %>
			</label>
		</span>
		<%= password_field_tag 'password', nil, :class=>"input_username" %>

		<button type="submit" class="other_blue">
			<%= t("login")%>
		</button>

		<div id="sub_login">
			<%= link_to t('register.one'), "#", :class => "register_link" %>
			<span>|</span>
			<%= link_to t('register.lost_password'), "#", :class => "register_link" %>
		</div>
	</div>

</div>

</div>

