<nav id="nav_tabs">
	 <ul id="ul_tabs">
            <li class="section left_tab" id="home_li">
                <a href="/" class="clear_text"><%=t("frontpage.home_tab.title")%></a>
            </li>
            <li class="section" id="we_li">
                <a href="/we" class="clear_text"><%=t("frontpage.we_tab.title")%></a>
            </li>
            <li class="section" id="gea_world_li">
                <a href="/gea_world" class="clear_text"><%=t("frontpage.gea_world.title")%></a>
            </li>
            <li class="section" id="cursos_li">
                <a href="/courses" class="clear_text"><%=t("frontpage.courses_tab.title")%></a>
            </li>
            <li class="section right_tab" id="contacto_li">
                <a href="/contacts/new" class="clear_text"><%=t("frontpage.contact_tab.title")%></a>
            </li>
     </ul>
     <iframe src="//www.facebook.com/plugins/like.php?app_id=224990917555373&amp;href=https%3A%2F%2Fwww.facebook.com%2Fpages%2Fmundogea%2F265352206816974&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=21" scrolling="no" frameborder="0" id="facebook_iframe" allowTransparency="true"></iframe>
</nav>