<% content_for :title do%>
  <%= t('web.title.main') %>
<%end%>

<%content_for :javascript do%>
  $("#gea_world_li").addClass("selected");
  $("#gea_world_li a").removeClass("clear_text");
<%end%>

    <section>
        <article>
            <div id="half_left">
              <div class="left_content" id="main_left">
              	<%= image_tag('mundo_gea.jpg', :class=>"")%>
              </div>
            </div>
            <div id="half_right" >
				<div class="right_content" id="main_right">
					<div class="big_text tab_content_title"><%= t("frontpage.gea_world.tick1")%></div>
					<div class="plan_list_small_text tab_content_content"><%= t("frontpage.gea_world.tick2")%></div>
					<div class="big_text tab_content_title"><%= t("frontpage.gea_world.tick3")%></div>
					<div class="plan_list_small_text tab_content_content"><%= t("frontpage.gea_world.tick4")%></div>
				</div>
			</div>
        </article>
    </section>