<% content_for :title do%>
  <%= t('web.title.main') %>
<%end%>

<%content_for :javascript do%>
  $("#home_li").addClass("selected");
<%end%>

<div id="image_left">
	<%=image_tag('portatil.jpg', :id=>"laptop_image")%>
</div>

<div id="checks_right">
  <div class="tick_div">
		<%=image_tag('tick.png', :class=>"tick_front")%><span class="tick_text"><%=t("frontpage.tick1")%></span><br/>
		<%=image_tag('tick.png', :class=>"tick_front")%><span class="tick_text"><%=t("frontpage.tick2")%></span><br/>
		<%=image_tag('tick.png', :class=>"tick_front")%><span class="tick_text"><%=t("frontpage.tick3")%></span><br/>
		<%=image_tag('tick.png', :class=>"tick_front")%><span class="tick_text"><%=t("frontpage.tick4")%></span><br/>
  </div>
</div>

<div id="big_message">
    <%=t("frontpage.big_message")%>	
  </div>