<% content_for :title do%>
  <%= t('web.title.main') %>
<%end%>

<%content_for :javascript do%>
  $("#home_li").addClass("selected");
  $("#home_li a").removeClass("clear_text");
  
<%end%>


	<article>
		<div id="half_left">
			<div class="left_content" id="main_left">
				<div id="frontpage_upper_content_left">
					<%= image_tag('empresa.jpg', :class=>"image_half_left")%>
				    <div id="vertical1" class="vertical_text big_blue_text">
				      <%=t('frontpage.enterprise')%>
				    </div>
				</div>
				<div class="plan_list">
				  	<ul class="ul_plan_list">
					  	<li class="li_plan_list">
						  	<a href="javascript:show_info_in_frontpage('right', 1)" title="<%= t("frontpage.help_click")%>">
							  	<%= image_tag('busto.png', :class=>"plan_list_image")%>
							  	<div class="big_text"><%= t("frontpage.tick1")%></div>
							  	<div class="plan_list_small_text"><%= t("frontpage.tick2")%></div>
						  	</a>
					  	</li>
					  	<li class="li_plan_list">
					  		<a href="javascript:show_info_in_frontpage('right', 2)" title="<%= t("frontpage.help_click")%>">
							  	<%= image_tag('pua.png', :class=>"plan_list_image")%>
							  	<div class="big_text"><%= t("frontpage.tick3")%></div>
							  	<div class="plan_list_small_text"><%= t("frontpage.tick4")%></div>
						  	</a>
					  	</li>
					  	<li class="li_plan_list">
					  		<a href="javascript:show_info_in_frontpage('right', 3)" title="<%= t("frontpage.help_click")%>">
							  	<%= image_tag('mobile.png', :class=>"plan_list_image")%>
							  	<div class="big_text"><%= t("frontpage.tick5")%></div>
							  	<div class="plan_list_small_text"><%= t("frontpage.tick6")%></div>
						  	</a>
					  	</li>
				  	</ul>
				</div>
			</div>			
		</div>
		
		<div id="half_right" >
			<div class="right_content" id="main_right">
				<div id="frontpage_upper_content_right">
					<%= image_tag('particular.jpg', :class=>"image_half_right")%>
					<div id="vertical2" class="vertical_text big_blue_text">
					  <%=t('frontpage.individual')%>
					</div>
				</div>
				<div class="plan_list">
				  	<ul class="ul_plan_list">
					  	<li class="li_plan_list">
					  		<a href="javascript:show_info_in_frontpage('left', 4)" title="<%= t("frontpage.help_click")%>">
							  	<%= image_tag('busto.png', :class=>"plan_list_image")%>
							  	<div class="big_text"><%= t("frontpage.tick7")%></div>
							  	<div class="plan_list_small_text"><%= t("frontpage.tick8")%></div>
						  	</a>
					  	</li>
					  	<li class="li_plan_list">
					  		<a href="javascript:show_info_in_frontpage('left', 5)" title="<%= t("frontpage.help_click")%>">
							  	<%= image_tag('pua.png', :class=>"plan_list_image")%>
							  	<div class="big_text"><%= t("frontpage.tick9")%></div>
							  	<div class="plan_list_small_text"><%= t("frontpage.tick10")%></div>
						  	</a>
					  	</li>
					  	<li class="li_plan_list">
					  		<a href="javascript:show_info_in_frontpage('left', 6)" title="<%= t("frontpage.help_click")%>">
							  	<%= image_tag('mobile.png', :class=>"plan_list_image")%>
							  	<div class="big_text"><%= t("frontpage.tick1a")%></div>
							  	<div class="plan_list_small_text"><%= t("frontpage.tick1b")%></div>
						  	</a>
					  	</li>
				  	</ul>
				</div>
			</div>
		</div>	
		
		<div style="display:none" id="info_item_4">
			<div class="closing_x" >
			  <a href="javascript:back_to_main()" title="<%= t("frontpage.help_close")%>" class="big_blue_text">
			  X
			  </a>
			</div>
			<div class="li_plan_list">
			  	<%= image_tag('busto.png', :class=>"plan_list_image")%>
			  	<div class="big_text"><%= t("frontpage.tick7")%></div>
			  	<div class="plan_list_small_text"><%= t("frontpage.tick8")%></div>
			</div>
			<div class="plan_list">
				  	<ul class="ul_plan_list">
					  	<li class="li_plan_list sub_tick_li">
					  		<%= image_tag('tick.jpg', :class=>"plan_list_image")%>
						  	<div class="tick_text medium_text"><%= t("frontpage.tick41")%></div>
						  	<div class="tick_small_text"><%= t("frontpage.tick42")%></div>
						</li>
						<li class="li_plan_list sub_tick_li">
					  		<%= image_tag('tick.jpg', :class=>"plan_list_image")%>
						  	<div class="tick_text medium_text"><%= t("frontpage.tick43")%></div>
						  	<div class="tick_small_text"><%= t("frontpage.tick44")%></div>
						</li>
						<li class="li_plan_list sub_tick_li">
					  		<%= image_tag('tick.jpg', :class=>"plan_list_image")%>
						  	<div class="tick_text medium_text"><%= t("frontpage.tick45")%></div>
						  	<div class="tick_small_text"><%= t("frontpage.tick46")%></div>
						</li>
						<li class="li_plan_list sub_tick_li">
					  		<%= image_tag('tick.jpg', :class=>"plan_list_image")%>
						  	<div class="tick_text medium_text"><%= t("frontpage.tick47")%></div>
						  	<div class="tick_small_text"><%= t("frontpage.tick48")%></div>
						</li>
					</ul>	
				</div>
		</div>
		
		<div style="display:none" id="info_item_1">
			<div class="closing_x" >
			  <a href="javascript:back_to_main()" title="<%= t("frontpage.help_close")%>" class="big_blue_text">
			  X
			  </a>
			</div>
			<div class="li_plan_list">
			  	<%= image_tag('busto.png', :class=>"plan_list_image")%>
			  	<div class="big_text"><%= t("frontpage.tick1")%></div>
			  	<div class="plan_list_small_text"><%= t("frontpage.tick2")%></div>
			</div>
			<div class="plan_list">
				  	<ul class="ul_plan_list">
					  	<li class="li_plan_list sub_tick_li">
					  		<%= image_tag('tick.jpg', :class=>"plan_list_image")%>
						  	<div class="tick_text medium_text"><%= t("frontpage.tick41")%></div>
						  	<div class="tick_small_text"><%= t("frontpage.tick42")%></div>
						</li>
						<li class="li_plan_list sub_tick_li">
					  		<%= image_tag('tick.jpg', :class=>"plan_list_image")%>
						  	<div class="tick_text medium_text"><%= t("frontpage.tick43")%></div>
						  	<div class="tick_small_text"><%= t("frontpage.tick44")%></div>
						</li>
						<li class="li_plan_list sub_tick_li">
					  		<%= image_tag('tick.jpg', :class=>"plan_list_image")%>
						  	<div class="tick_text medium_text"><%= t("frontpage.tick45")%></div>
						  	<div class="tick_small_text"><%= t("frontpage.tick46")%></div>
						</li>
						<li class="li_plan_list sub_tick_li">
					  		<%= image_tag('tick.jpg', :class=>"plan_list_image")%>
						  	<div class="tick_text medium_text"><%= t("frontpage.tick47")%></div>
						  	<div class="tick_small_text"><%= t("frontpage.tick48")%></div>
						</li>
					</ul>	
				</div>
		</div>
		
		<div style="display:none" id="info_item_2">
			<div class="closing_x" >
			  <a href="javascript:back_to_main()" title="<%= t("frontpage.help_close")%>" class="big_blue_text">
			  X
			  </a>
			</div>
			<div class="li_plan_list">
			  	<%= image_tag('busto.png', :class=>"plan_list_image")%>
			  	<div class="big_text"><%= t("frontpage.tick7")%></div>
			  	<div class="plan_list_small_text"><%= t("frontpage.tick8")%></div>
			</div>
			<div class="plan_list">
				  	<ul class="ul_plan_list">
					  	<li class="li_plan_list sub_tick_li">
					  		<%= image_tag('tick.jpg', :class=>"plan_list_image")%>
						  	<div class="tick_text medium_text"><%= t("frontpage.tick41")%></div>
						  	<div class="tick_small_text"><%= t("frontpage.tick42")%></div>
						</li>
						<li class="li_plan_list sub_tick_li">
					  		<%= image_tag('tick.jpg', :class=>"plan_list_image")%>
						  	<div class="tick_text medium_text"><%= t("frontpage.tick43")%></div>
						  	<div class="tick_small_text"><%= t("frontpage.tick44")%></div>
						</li>
						<li class="li_plan_list sub_tick_li">
					  		<%= image_tag('tick.jpg', :class=>"plan_list_image")%>
						  	<div class="tick_text medium_text"><%= t("frontpage.tick45")%></div>
						  	<div class="tick_small_text"><%= t("frontpage.tick46")%></div>
						</li>
						<li class="li_plan_list sub_tick_li">
					  		<%= image_tag('tick.jpg', :class=>"plan_list_image")%>
						  	<div class="tick_text medium_text"><%= t("frontpage.tick47")%></div>
						  	<div class="tick_small_text"><%= t("frontpage.tick48")%></div>
						</li>
					</ul>	
				</div>
		</div>
		
		<div style="display:none" id="info_item_3">
			<div class="closing_x" >
			  <a href="javascript:back_to_main()" title="<%= t("frontpage.help_close")%>" class="big_blue_text">
			  X
			  </a>
			</div>
			<div class="li_plan_list">
			  	<%= image_tag('busto.png', :class=>"plan_list_image")%>
			  	<div class="big_text"><%= t("frontpage.tick7")%></div>
			  	<div class="plan_list_small_text"><%= t("frontpage.tick8")%></div>
			</div>
			<div class="plan_list">
				  	<ul class="ul_plan_list">
					  	<li class="li_plan_list sub_tick_li">
					  		<%= image_tag('tick.jpg', :class=>"plan_list_image")%>
						  	<div class="tick_text medium_text"><%= t("frontpage.tick41")%></div>
						  	<div class="tick_small_text"><%= t("frontpage.tick42")%></div>
						</li>
						<li class="li_plan_list sub_tick_li">
					  		<%= image_tag('tick.jpg', :class=>"plan_list_image")%>
						  	<div class="tick_text medium_text"><%= t("frontpage.tick43")%></div>
						  	<div class="tick_small_text"><%= t("frontpage.tick44")%></div>
						</li>
						<li class="li_plan_list sub_tick_li">
					  		<%= image_tag('tick.jpg', :class=>"plan_list_image")%>
						  	<div class="tick_text medium_text"><%= t("frontpage.tick45")%></div>
						  	<div class="tick_small_text"><%= t("frontpage.tick46")%></div>
						</li>
						<li class="li_plan_list sub_tick_li">
					  		<%= image_tag('tick.jpg', :class=>"plan_list_image")%>
						  	<div class="tick_text medium_text"><%= t("frontpage.tick47")%></div>
						  	<div class="tick_small_text"><%= t("frontpage.tick48")%></div>
						</li>
					</ul>	
				</div>
		</div>
		
		<div style="display:none" id="info_item_5">
			<div class="closing_x" >
			  <a href="javascript:back_to_main()" title="<%= t("frontpage.help_close")%>" class="big_blue_text">
			  X
			  </a>
			</div>
			<div class="li_plan_list">
			  	<%= image_tag('pua.png', :class=>"plan_list_image")%>
				<div class="big_text"><%= t("frontpage.tick9")%></div>
				<div class="plan_list_small_text"><%= t("frontpage.tick10")%></div>
			</div>
			<div class="plan_list">
				  	<ul class="ul_plan_list">
					  	<li class="li_plan_list sub_tick_li">
					  		<%= image_tag('tick.jpg', :class=>"plan_list_image")%>
						  	<div class="tick_text medium_text"><%= t("frontpage.tick51")%></div>
						  	<div class="tick_small_text"><%= t("frontpage.tick52")%></div>
						</li>
						<li class="li_plan_list sub_tick_li">
					  		<%= image_tag('tick.jpg', :class=>"plan_list_image")%>
						  	<div class="tick_text medium_text"><%= t("frontpage.tick53")%></div>
						  	<div class="tick_small_text"><%= t("frontpage.tick54")%></div>
						</li>
						<li class="li_plan_list sub_tick_li">
					  		<%= image_tag('tick.jpg', :class=>"plan_list_image")%>
						  	<div class="tick_text medium_text"><%= t("frontpage.tick55")%></div>
						  	<div class="tick_small_text"><%= t("frontpage.tick56")%></div>
						</li>
						<li class="li_plan_list sub_tick_li">
					  		<%= image_tag('tick.jpg', :class=>"plan_list_image")%>
						  	<div class="tick_text medium_text"><%= t("frontpage.tick57")%></div>
						  	<div class="tick_small_text"><%= t("frontpage.tick58")%></div>
						</li>
					</ul>	
				</div>
		</div>
		
		<div style="display:none" id="info_item_6">
			<div class="closing_x" >
			  <a href="javascript:back_to_main()" title="<%= t("frontpage.help_close")%>" class="big_blue_text">
			  X
			  </a>
			</div>
			<div class="li_plan_list">
			  	<%= image_tag('mobile.png', :class=>"plan_list_image")%>
				<div class="big_text"><%= t("frontpage.tick1a")%></div>
				<div class="plan_list_small_text"><%= t("frontpage.tick1b")%></div>
			</div>
			<div class="plan_list">
				  	<ul class="ul_plan_list">
					  	<li class="li_plan_list sub_tick_li">
					  		<%= image_tag('tick.jpg', :class=>"plan_list_image")%>
						  	<div class="tick_text medium_text"><%= t("frontpage.tick61")%></div>
						  	<div class="tick_small_text"><%= t("frontpage.tick62")%></div>
						</li>
						<li class="li_plan_list sub_tick_li">
					  		<%= image_tag('tick.jpg', :class=>"plan_list_image")%>
						  	<div class="tick_text medium_text"><%= t("frontpage.tick63")%></div>
						  	<div class="tick_small_text"><%= t("frontpage.tick64")%></div>
						</li>
						<li class="li_plan_list sub_tick_li">
					  		<%= image_tag('tick.jpg', :class=>"plan_list_image")%>
						  	<div class="tick_text medium_text"><%= t("frontpage.tick65")%></div>
						  	<div class="tick_small_text"><%= t("frontpage.tick66")%></div>
						</li>
						<li class="li_plan_list sub_tick_li">
					  		<%= image_tag('tick.jpg', :class=>"plan_list_image")%>
						  	<div class="tick_text medium_text"><%= t("frontpage.tick67")%></div>
						  	<div class="tick_small_text"><%= t("frontpage.tick68")%></div>
						</li>
					</ul>	
				</div>
		</div>
	</article>

    