<% content_for :title do%>
  <%= t('web.title.main') %>
<%end%>

<%content_for :javascript do%>
  $("#home_li").addClass("selected");
  $("#home_li a").removeClass("clear_text");
  
<%end%>


	<article>
		<div id="half_left">
			<div class="left_content" id="main_left">
				<div id="frontpage_upper_content_left">
					<%= image_tag('empresa.jpg', :class=>"image_half_left")%>
				    <div id="vertical1" class="vertical_text big_green_text">
				      <%=t('frontpage.enterprise')%>
				    </div>
				</div>
				<div class="plan_list">
				  	<ul class="ul_plan_list">
					  	<li class="li_plan_list">
						  	<a href="javascript:show_info_in_frontpage('right', 1)" title="<%= t("frontpage.help_click")%>">
							  	<%= image_tag('logo_app_lila.png', :class=>"mundogea_logo_peque mundogea_logo_in_title")%>
							  	<span class="big_text"><%= t("frontpage.tick1")%></span>
						  	</a>
					  	</li>
					  	<li class="li_plan_list">
					  		<a href="javascript:show_info_in_frontpage('right', 2)" title="<%= t("frontpage.help_click")%>">
							  	<%= image_tag('logo_app_verde.png', :class=>"mundogea_logo_peque mundogea_logo_in_title")%>
							  	<span class="big_text"><%= t("frontpage.tick2")%></span>
						  	</a>
					  	</li>
					  	<li class="li_plan_list">
					  		<a href="javascript:show_info_in_frontpage('right', 3)" title="<%= t("frontpage.help_click")%>">
							  	<%= image_tag('logo_app_amarillo.png', :class=>"mundogea_logo_peque mundogea_logo_in_title")%>
							  	<span class="big_text"><%= t("frontpage.tick3")%></span>
						  	</a>
					  	</li>
				  	</ul>
				</div>
			</div>			
		</div>
		
		<div id="half_right" >
			<div class="right_content" id="main_right">
				<div id="frontpage_upper_content_right">
					<%= image_tag('particular.jpg', :class=>"image_half_right")%>
					<div id="vertical2" class="vertical_text big_green_text">
					  <%=t('frontpage.individual')%>
					</div>
				</div>
				<div class="plan_list">
				  	<ul class="ul_plan_list">
					  	<li class="li_plan_list">
					  		<a href="javascript:show_info_in_frontpage('left', 4)" title="<%= t("frontpage.help_click")%>">
							  	<%= image_tag('logo_app_azul.png', :class=>"mundogea_logo_peque mundogea_logo_in_title")%>
							  	<span class="big_text"><%= t("frontpage.tick4")%></span>
						  	</a>
					  	</li>
					  	<li class="li_plan_list">
					  		<a href="javascript:show_info_in_frontpage('left', 5)" title="<%= t("frontpage.help_click")%>">
							  	<%= image_tag('logo_app_gris.png', :class=>"mundogea_logo_peque mundogea_logo_in_title")%>
							  	<span class="big_text"><%= t("frontpage.tick5")%></span>
						  	</a>
					  	</li>
					  	<li class="li_plan_list">
					  		<a href="javascript:show_info_in_frontpage('left', 6)" title="<%= t("frontpage.help_click")%>">
							  	<%= image_tag('logo_app_lila.png', :class=>"mundogea_logo_peque mundogea_logo_in_title")%>
							  	<span class="big_text"><%= t("frontpage.tick6")%></span>
						  	</a>
					  	</li>
				  	</ul>
				</div>
			</div>
		</div>	
		
				
		<div style="display:none" id="info_item_1">
			<div class="closing_x" >
			  <a href="javascript:back_to_main()" title="<%= t("frontpage.help_close")%>" class="big_blue_text">
			     <%= image_tag('close.png', :class=>"close_image")%>
			  </a>
			</div>
			<div class="li_plan_list li_plan_list_title">
			  	<%= image_tag('logo_app_lila.png', :class=>"mundogea_logo_peque")%>
			  	<span class="big_text title_half_info"><%= t("frontpage.tick1")%></span>			  	
			</div>
			<div class="plan_list_small_text mundogea_content"><%= t("frontpage.tick11")%></div>
			<div class="plan_list_small_text mundogea_content"><%= t("frontpage.tick12")%></div>			
		</div>
		
		<div style="display:none" id="info_item_2">
			<div class="closing_x" >
			  <a href="javascript:back_to_main()" title="<%= t("frontpage.help_close")%>" class="big_blue_text">
			     <%= image_tag('close.png', :class=>"close_image")%>
			  </a>
			</div>
			<div class="li_plan_list li_plan_list_title">
			  	<%= image_tag('logo_app_verde.png', :class=>"mundogea_logo_peque")%>
			  	<span class="medium_text"><%= t("frontpage.tick2")%></span>			  	
			</div>
			<div class="plan_list_small_text mundogea_content"><%= t("frontpage.tick21")%></div>
			<div class="plan_list_small_text mundogea_content"><%= t("frontpage.tick22")%></div>			
		</div>
		
		<div style="display:none" id="info_item_3">
			<div class="closing_x" >
			  <a href="javascript:back_to_main()" title="<%= t("frontpage.help_close")%>" class="big_blue_text">
			     <%= image_tag('close.png', :class=>"close_image")%>
			  </a>
			</div>
			<div class="li_plan_list li_plan_list_title">
			  	<%= image_tag('logo_app_amarillo.png', :class=>"mundogea_logo_peque")%>
			  	<span class="big_text"><%= t("frontpage.tick3")%></span>			  	
			</div>
			<%= image_tag('cursos.jpg', :id=>"image_cursos")%>
			<div class="plan_list_small_text mundogea_content"><%= t("frontpage.tick31")%></div>			
		</div>
		
	</article>

    