<p><%=t('devise.hello') <%= @resource.email %>!</p>

<p>Someone has requested a link to change your password, and you can do this through the link below.</p>

<p><%= link_to t('devise.change_my_passwd'), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p><%=t('devise.ignore_email')%></p>
<p><%=t('devise.password_will_change')%></p>
