<div id="footer">
	
  <ul>
  	<li id="trade_mark"><%= link_to(image_tag('logo_gea_footer.gif', :alt => t('logo.alt'), :id=>"footer_logo"), '/'); %><%=t('web.name')%></li>
	<li>-</li>
	<li><%=t("footer.rights")%></li>
	<li>-</li>
	<li><a href="/aviso_legal" target="_blank" class="clear_text"><%=t("footer.legal_notice")%></a></li>
	<li>-</li>
	<li><a href="/contacts/new" id="contact_link" class="clear_text"><%=t("footer.contact")%></a></li>
  </ul>
</div>
