<!-- HTML5 DOCTYPE -->
<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<title><%= yield(:title).empty? ? t('frontpage.title') : yield(:title)%></title>
		<meta name="keywords" content="t('meta.keywords')%>" >
		<meta name="description" content= "t('meta.description')%>" >		
		<%= stylesheet_link_tag "common", :media => "screen, projection" %>	
		<!--[if IE]>
			<script type="text/javascript" src="https://getfirebug.com/firebug-lite.js"></script>
			<%= stylesheet_link_tag "ie.css", :media => "screen, projection" %>
		<![endif]-->
		<!--[if !IE 7]>
			<style type="text/css">
				#wrap {display:table;height:100%}
			</style>
		<![endif]-->	
		<!--[if lt IE 9]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]--> 
		<%= javascript_include_tag 'jquery', 'jquery_ujs' %>
		<%= javascript_include_tag 'jquery.placeholder', 'frontpage' %>
		<%= favicon_link_tag "favicon.ico" %>

		<% if protect_against_forgery? %>
		  <%= csrf_meta_tag %>
		<% end %>
		<script type="text/javascript" >
			$(document).ready(function() {
			  <%= yield :javascript%>
			});
		</script>
		
		<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-25527743-1']);
		  _gaq.push(['_trackPageview']);
		
		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();		
		</script>
	</head>
	<body>
	  <div id="wrap">
	    <div id="main">
			<header>
				<%= render :partial => "frontpage/header" %>
			</header>
			<section>
				<%= render :partial => "frontpage/navbar" %>
			</section>
			<section id="full_content">				
				<% flash.each do |key, msg| -%>
				  <%= content_tag :div, msg, :class => key, :id => 'flash' %>
				<% end -%>
				
				<%= yield %>
			</section>
		  </div>
		</div>
		<footer id="frontpage_footer">
			<%= render :partial => "layouts/footer" %>
		</footer>

</html>
